<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <hr />
    <small>
        {{#if user}}
        Logged in as
        <a href="/account">
            <em>{{user.username}} ({{user.displayName}})</em>
            <img height="15px" src="{{user.photos.0.value}}" />
        </a>
        {{/if}}
        <!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Copyright &copy; @infoseclog 2018 -->
    </small>
</div>