<div>
    <hr />
    <small>
        {{#if user}}
            Logged in as
            <a href="/account">
                <em>{{user.username}} ({{user.displayName}})</em>
                <img class="ProfileImg" src="{{user.photos.0.value}}" />
            </a>
        {{else}}
            <em>Anonymous User</em>
        {{/if}}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="https://github.com/jourzero/waptrun/blob/master/LICENSE">Copyright &copy; jourzero
            2020</a>
    </small>
</div>