#Ignoring git and cache folders
.DS_Store
.dockerignore
.dockerignore.swp
.env
.git
.github
.gitignore
.vscode
Dockerfile
LICENSE
README.md
backup
data
logs
node_modules
target
test
veracode-pipeline-scan-results.json
wapt-configs
waptrun-static
