#Ignoring git and cache folders
.DS_Store
.dockerignore
.dockerignore.swp
.git
.github
.gitignore
.gitmodules
.vscode
backup
data
doc
docker-compose.yml
logs
rebuild-restart.sh
restart.sh
start.sh
tail.sh
wapt-configs
waptrun-static
CodingStandard.md
Dockerfile
LICENSE
README.md
VeracodeIgnored.json
