<script src="/js/hacks.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/validator.min.js"></script>
<script src="/js/rest.js"></script>
<script src="/js/home.js"></script>

<div id='msg' role='alert'></div>
{{#if user}}


<table class="issueTab">
    <tr class="iTR">
        <th class="issueTH">Input Area</th>
        <td class="prjLeft"><textarea id="InputArea" rows="10"
                placeholder="Enter inputs to process here."></textarea></td>
    </tr>
    <!--
    <tr class="iTR">
        <th class="issueTH">Parser Parameters</th>
        <td class="prjLeft">
        <input type="text" id="parserParm" placeholder="PARAM1=VAL1,PARAM2=VAL2" /></td>
    </tr>
    -->
    <tr class="iTR">
        <th class="issueTH">Output Area</th>
        <td class="prjLeft"><textarea id="OutputArea" rows="10"
                placeholder="Outputs will be shown here"></textarea> </td>
    </tr>
</table>
<table>
    <tr> <th> Add Sample: </th> 
        <td> <button onclick='addSample("xml")'         class="button black" title="Add sample data">XML</button> </td> 
        <td> <button onclick='addSample("json")'        class="button black" title="Add sample data">JSON</button> </td> 
        <td> <button onclick='addSample("mysql")'       class="button black" title="Add sample data">MySQL</button> </td> 
        <td> <button onclick='addSample("sqlite")'       class="button black" title="Add sample data">SQLite</button> </td> 
    </tr>
    <tr> <th> Processor: </th> 
        <td> <button onclick='runProcessor("xml")'      class="button black" title="Parse the XML data">XML</button> </td> 
        <td> <button onclick='runProcessor("json")'     class="button black" title="Deserialize the JSON data">JSON</button> </td> 
        <td> <button onclick='runProcessor("mysql")'    class="button black" title="Process the SQL query">MySQL</button> </td> 
        <td> <button onclick='runProcessor("sqlite")'    class="button black" title="Process the SQL query">SQLite</button> </td> 
    </tr>
    <tr> <th> References: </th> 
        <td> <button onclick='showRef("xml")'           class="button black" title="Show Reference">XML</button> </td> 
        <td> <button onclick='showRef("json")'          class="button black" title="Show Reference">JSON</button> </td> 
        <td> <button onclick='showRef("mysql")'         class="button black" title="Show Reference">MySQL</button> </td> 
        <td> <button onclick='showRef("sqlite")'         class="button black" title="Show Reference">SQLite</button> </td> 
    </tr>
</table>
{{/if}}