<!-- views/home.handlebars -->
{{#if user}}
<!--
  <div class="jumbotron">
    <h1>MongoDB User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Projects</h3>
    </div>

    <table class="projectList">
        {{#projects}}
            <tr>
                <td><a href="/project/{{name}}">{{name}}</a></td>
                <td><a href="/testing/{{name}}">Start Testing</td>
            </tr>
        {{/projects}}
    </table>

    <div>
        <button id="btnCsvExport"   class="button black"       title="Export all issue data from all projects as CSV and download." onclick="window.open('/issues.csv', 'DownloadWin')">Export all</button>
    </div>
 
    <div class="panel-body">
        Static Content: 
      <a href="/sec542/index.htm">SEC-542</a> | 
      <a href="/sec642/index.htm">SEC-642</a> | 
      <a href="/wahh2/index.htm">WAHHv2</a>   | 
      <a href="/websvc/Web_Services_Assessment_Methodology.pdf">Web Services</a> 
    </div>

  </div>


{{else}}
  <div class="jumbotron">
    <p>Hello, welcome!
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        Go to login screen
      </a>
    </p>
  </div>
  
{{/if}}
   
