<div class="jumbotron">
<p>
    <a href="/auth/github" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Github</a>
    <a href="/auth/google" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Google</a>
</p>
<!--
  <div id="local" class="collapse">
  <div id="local" class="collapse-EP-RENAMED">
    <a data-toggle="collapse" href="#local-sign-in" class="btn btn-default btn-md" role="button">I already have an account</a>
    <a data-toggle="collapse" href="#local-reg" class="btn btn-default btn-md" role="button">I need to create an account</a>
  </div>
-->

