/*
button .kbBtn { alignment-adjust: auto; }
*/

.button {
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 5px;
    font: normal 12px/12px Helvetica, Arial, sans-serif;
}

.button.black {
    color: #fff;
    background-color: #444;
    border: solid 1px rgba(79, 79, 79, 0.75);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    padding: 3px 5px;
    -webkit-border-radius: 5px;
    font: normal 12px/12px Helvetica, Arial, sans-serif;
}

.button.hacktool {
    /*
    color: #fff;
    background-color: #444;
    */
    color: #fff;
    background-color: #444;
    border-radius: 5px;
    border: solid 1px rgba(79, 79, 79, 0.75);
}

.button.back {
    position: relative;
    padding-left: 5px;
    margin-left: 0px;
}

#cweIn {
    width: 70px;
}

#cwedescr,
#cweexploit {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 12px;
}

#msg {
    position: absolute;
    top: 10px;
    width: 50%;
    left: 30%;
    height: 60px;
    z-index: -1;
}

.issueTab {
    width: 100%;
}

.issueTH {
    padding-top: 5px;
    padding-right: 10px;
    width: 100px;
    text-align: right;
    vertical-align: top;
}

.issuesection {
    font-style: italic;
    font-weight: bold;
    height: 50px;
}

.issueSummaryTab {
    padding: 0px;
    width: 98%;
    margin: 0px;
}

.issueSummaryTR,
.isTD,
.isTH,
.issueTD {
    border: #444444 solid thin;
}

.issueVals {
    padding: 3px 1px;
    border: 0px;
}

/* Added for /account */
table {
    border: 1px;
}
th {
    vertical-align: top;
}

.iTR:nth-child(even) {
    background: #f0f0f0;
}

.prioSelector,
.sevSelector {
    width: 90px;
}

#newProjectInput {
    width: 250px;
}

#parserParm {
    width: 100%;
}

.prjIn {
    width: 100%;
    margin: 2px 0;
    padding: 2px 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.projectList {
    width: 80%;
}

.projectEntry {
    width: 300px;
}

.prjMeta {
    font-size: 12px;
    color: #999;
}

#lastTIDTxt {
    vertical-align: middle;
}

#PrjSoftware,
#PrjNotes {
    height: 15px;
}

.prjLeft {
    padding: 3px 1px;
    border: 0px;
}

.prjRight {
    padding: 3px 1px;
    border: 0px;
}

.statusHighlight {
    background-color: #ffff00;
}

.testOption,
.testOpt {
    color: black;
    visibility: visible;
    font-size: 14px;
    font-family: sans-serif;
    width: 80%;
}

.testKbIn {
    width: 98%;
}

.testKbInShort {
    width: 45%;
}

.testKbInMedium {
    width: 85%;
}

.testSection {
    background-color: #87ceeb;
    font-weight: bold;
}

/* textarea, .issueTA, .testKbTA { */
textarea {
    max-height: 1000000px; /* Disable font boosting in Chrome for Android */
    box-sizing: border-box;
    padding: 0px 0;
    background: transparent;
    border: 1px;
    width: 98%;
    padding-right: 20px;
    vertical-align: top;
    font-family: sans-serif;
    height: 100%;
    /* font-size: 14px; */
}

.tselTD {
    width: 55px;
}

.tsel {
    width: 400px;
}

#testNameTA,
#cwename {
    width: 500px;
}

.testSelector {
    width: 168px;
}

textarea {
    /* Disable font boosting in Chrome for Android */
    max-height: 1000000px;
    box-sizing: border-box;
    padding: 0px 0;
    background: transparent;
    border: 1px;
    width: 98%;
    padding-right: 20px;
    vertical-align: top;
    font-family: sans-serif;
    height: 100%;
}

.tinyTH {
    text-align: right;
}

.tinyTD,
.tinyTH {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

tr .HighPriority {
    background-color: red;
}

tr .MediumPriority {
    background-color: orange;
}

tr .LowPriority {
    background-color: cyan;
}

tr .TestedPriority {
    background-color: lightgreen;
}

tr .FixedPriority {
    background-color: lightgreen;
}

tr .TODOPriority {
    background-color: lightcyan;
}

tr .ExcludePriority {
    background-color: lightgray;
}

img {
    max-width: 100%;
    max-height: 700px;
    height: auto;
    width: auto;
    border: 1px dashed DarkSlateBlue;
}

.ProfileImg {
    height: 20px;
}

.navbar {
    min-height: 24px;
}

#TTestNameKeyword {
    width: 150px;
}

#HackConfig {
    width: 480px;
}

#TCweIDSearch {
    width: 70px;
}
